.RecipeCardWrapper{
    background-color: #ffe2c2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    transition: 0.2s;
    border-radius: 5px;
    width:20%;
    margin: 50px;
}

.RecipeCardWrapper:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);

}

.RecipeCardDetails{
    padding: 2px 16px;
    margin-bottom: 10px;
}

.RecipeCardImage{
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    object-fit: contain;
    padding: 2px;
}


.button, .dropbtn{
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Agbalumo', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  margin: 10px 50px 10px;;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:hover {
  background-color: #222222;
  color: #F7F7F7;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.emoji{
  width:30px;
  height:30px;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  margin-top: 20px;
  position: relative;
}


.dropdowncontent{
  border-radius: 20px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdowncontent a:hover {background-color: #f1f1f1;
  border-radius: 20px;
}


.dropdown:hover .dropdowncontent {
  display: block;

}


.dropdown:hover .dropbtn {
  background-color: #222222;
  color:#F7F7F7;
}
